<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{ lang }}" lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>Sumário</title>
    <link rel="stylesheet" href="{{ caminho_css }}" type="text/css"/>
  </head>
  <body>
    <p style="display:none;"><a href="nav.xhtml">Sumário Técnico</a></p>
    <nav epub:type="toc" id="toc-visual">
      {# Título principal do Sumário #}
      <h1 class="toc-title">Sumário</h1>
      <ol>
        {% for parte in partes %}
        <li>
          <a href="{{ parte.arquivo }}" class="toc-part">{{ parte.titulo }}</a>
          <ol>
            {% for cap in parte.capitulos %}
              {# Título do Capítulo #}
              <li><a href="{{ cap.arquivo }}" class="toc-chapter">{{ cap.titulo }}</a></li>
            {% endfor %}
          </ol>
        </li>
        {% endfor %}
      </ol>
    </nav>
  </body>
</html>