% projetos/liderando_transformacao/templates/tex/main.tex.j2
\documentclass[10pt]{article}

% Carrega pacotes
\input{setup/packages.tex}

% Carrega configurações gerais
\input{setup/configurations.tex}

% Carrega definições de estilo (cores, fontes, titulos, parágrafos, sumário)
\input{setup/styles.tex}

\begin{document}

% Inclui o conteúdo principal (título, sumário e seções)
\input{content/main_content.tex}

\end{document}
