% projetos/liderando_transformacao/templates/tex/content/main_content.tex.j2

% Este template é responsável por incluir todas as seções (partes e capítulos) do livro.
% O script Python 'gerar_latex.py' gera arquivos individuais para cada seção
% (usando section_item.tex.j2) e passa uma lista desses nomes de arquivos.

{% for section_file in section_files %}
\input{content/{{ section_file }}}
{% endfor %}