% projetos/liderando_transformacao/templates/tex/setup/packages.tex.j2
% Template Jinja2 para pacotes LaTeX (processado para gerar packages.tex)

% --- Pacotes Essenciais ---
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazil]{babel}
\usepackage{geometry}
\usepackage{fancyhdr}
\usepackage{graphicx}
\usepackage{hyperref}

% --- Pacotes para Cores e Fontes ---
\usepackage{xcolor}
\usepackage{fontspec}

% --- Pacotes para Formatação de Títulos ---
\usepackage{titlesec}
\usepackage{titletoc}

% --- Pacotes para Sumário ---
\usepackage{tocloft}

% --- Pacotes para Listas ---
\usepackage{enumitem}

% --- Pacotes para Tabelas ---
\usepackage{booktabs}
\usepackage{tabularx}
\usepackage{longtable}

% --- Pacotes para Matemática ---
\usepackage{amsmath}
\usepackage{amssymb}

% --- Pacotes para Código ---
\usepackage{listings}
\usepackage{verbatim}

% --- Pacotes para Espaçamento ---
\usepackage{setspace}

% --- Outros Pacotes Úteis ---
\usepackage{float}
\usepackage{caption}
\usepackage{subcaption}
\usepackage{microtype}