% --- Definição de Cores Personalizadas ---
{% if styles.colors %}
    {% for name, hex_code in styles.colors.items() %}
\definecolor{{ '{' }}{{ name|trim|replace(" ", "_") }}{{ '}' }}{{ '{' }}HTML{{ '}' }}{{ '{' }}{{ hex_code|replace("#", "")|trim }}{{ '}' }}
    {% endfor %}
{% else %}
    % Cores padrão se não definidas nos dados
    \definecolor{{ '{' }}text_gray{{ '}' }}{{ '{' }}HTML{{ '}' }}{{ '{' }}333333{{ '}' }}
    \definecolor{{ '{' }}DarkBlueHeading{{ '}' }}{{ '{' }}HTML{{ '}' }}{{ '{' }}000080{{ '}' }}
{% endif %}

% --- Configurações de Fonte ---
{% if styles.paragraph_default and styles.paragraph_default["font-family"] %}
\setmainfont{{ '{' }}{{ styles.paragraph_default["font-family"]|trim }}{{ '}' }}
{% else %}
\setmainfont{{ '{' }}Latin Modern Roman{{ '}' }}
{% endif %}

{% if styles.heading_1 and styles.heading_1["font-family"] %}
\setsansfont{{ '{' }}{{ styles.heading_1["font-family"]|trim }}{{ '}' }}
{% else %}
\setsansfont{{ '{' }}Latin Modern Sans{{ '}' }}
{% endif %}

% --- Formatação de Títulos ---
\titleformat{{ '{' }}\chapter{{ '}' }}[display]
  {{ '{' }}\bfseries\centering\Huge\color{{ '{' }}DarkBlueHeading{{ '}' }}{{ '}' }}
  {{ '{' }}\chaptertitlename\ \thechapter{{ '}' }}
  {{ '{' }}20pt{{ '}' }}
  {{ '{' }}\Huge{{ '}' }}

\titleformat{{ '{' }}\section{{ '}' }}[hang]
  {{ '{' }}\sffamily\bfseries\color{{ '{' }}DarkBlueHeading{{ '}' }}\fontsize{{ '{' }}{% if styles.heading_1 and styles.heading_1["font-size"] %}{{ styles.heading_1["font-size"]|replace("pt", "")|trim }}{% else %}24{% endif %}pt{{ '}' }}{{ '{' }}{% if styles.heading_1 and styles.heading_1["line-spacing"] %}{{ styles.heading_1["line-spacing"]|replace("pt", "")|trim }}{% else %}28.8{% endif %}pt{{ '}' }}\selectfont{{ '}' }}
  {{ '{' }}\thesection{{ '}' }}
  {{ '{' }}1em{{ '}' }}
  {{ '{' }}{{ '}' }}

\titlespacing*{{ '{' }}\section{{ '}' }}
  {{ '{' }}0pt{{ '}' }}{{ '{' }}{% if styles.heading_1 and styles.heading_1["margin-top"] %}{{ styles.heading_1["margin-top"]|replace("cm", "")|trim }}{% else %}1.0{% endif %}cm{{ '}' }}{{ '{' }}{% if styles.heading_1 and styles.heading_1["margin-bottom"] %}{{ styles.heading_1["margin-bottom"]|replace("cm", "")|trim }}{% else %}0.5{% endif %}cm{{ '}' }}

% --- Ajustes de Parágrafo ---
\setlength{{ '{' }}\parindent{{ '}' }}{{ '{' }}{% if styles.paragraph_default and styles.paragraph_default["text-indent"] %}{{ styles.paragraph_default["text-indent"]|replace("cm", "")|trim }}{% else %}0.5{% endif %}cm{{ '}' }}
\setlength{{ '{' }}\parskip{{ '}' }}{{ '{' }}{% if styles.paragraph_default and styles.paragraph_default["margin-bottom"] %}{{ styles.paragraph_default["margin-bottom"]|replace("cm", "")|trim }}{% else %}0.2{% endif %}cm{{ '}' }}

\DeclareRobustCommand{{ '{' }}\paragraphbreak{{ '}' }}{{ '{' }}\vspace{{ '{' }}{% if styles.paragraph_default and styles.paragraph_default["margin-bottom"] %}{{ styles.paragraph_default["margin-bottom"]|replace("cm", "")|trim }}{% else %}0.2{% endif %}cm{{ '}' }}\noindent{{ '}' }}
