% projetos/liderando_transformacao/templates/tex/main.tex.j2

\documentclass[10pt]{article}

% Inclui os arquivos de configuração gerados
\input{setup/packages.tex}
\input{setup/configurations.tex}
\input{setup/styles.tex}

% --- Metadados do Documento (Essencial para \maketitle) ---
% Estes valores virão do seu metadados.json e da data atual
% CORREÇÃO AQUI: ADICIONADAS AS CHAVES {} EXTERNAS PARA OS COMANDOS LATEX
\title{ {{ metadados.titulo_livro | replace("\n", " ") }} }
\author{ {{ metadados.autor | replace("\n", " ") }} }
\date{ {{ hoje }} } % Variável 'hoje' é populada pelo script Python


% Conteúdo principal
\begin{document}

\pagenumbering{gobble} % Remove números de página para a página de título/capa
\maketitle % Gera a página de título usando \title, \author, \date definidas acima

\clearpage
\pagenumbering{arabic} % Reinicia a numeração de página com algarismos arábicos a partir daqui
\setcounter{page}{1} % Inicia a contagem de páginas do corpo do documento em 1

% Sumário
\tableofcontents
\clearpage

% Corpo principal do documento
\input{content/main_content.tex}

\end{document}
