<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{ lang }}" lang="{{ lang }}">
  <head>
    <title>{{ titulo_parte }}</title>
    <link rel="stylesheet" href="{{ caminho_css }}" type="text/css"/>
  </head>
  <body>
    <section epub:type="part">
      <h1 class="part-title">{{ titulo_parte }}</h1>
      {% if subtitulo_parte %}
      <h2 class="part-subtitle">{{ subtitulo_parte }}</h2>
      {% endif %}
    </section>
  </body>
</html>
